<%- model_class = OrderDetail -%>
<%- omodel_class = Order -%>
<%- cmodel_class = Commodity -%>
<%- smodel_class = Supplier -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">   
    <%= link_to t('.back', :default => t("helpers.links.back")),
            eval(@status + '_orders_' +'path'),
            :class => 'btn btn-primary' %>
  </div>
</div>
<%= grid(@order_details) do |g|

    g.column name: model_class.human_attribute_name(:no), attribute: 'no'

    g.column name: omodel_class.human_attribute_name(:no), attribute: 'no', assoc: :order do |order_detail|
      order_detail.order.try :no
    end

    g.column name: omodel_class.human_attribute_name(:name), attribute: 'name', assoc: :order do |order_detail|
      order_detail.order.try :name
    end

    g.column name: smodel_class.human_attribute_name(:name), attribute: 'name', assoc: [:commodity, :supplier] do |order_detail|
      order_detail.commodity.supplier.try :name
    end

    g.column name: cmodel_class.human_attribute_name(:cno), attribute: 'cno', assoc: :commodity do |order_detail|
      order_detail.commodity.try :cno
    end

    g.column name: cmodel_class.human_attribute_name(:dms_no), attribute: 'dms_no', assoc: :commodity do |order_detail|
      order_detail.commodity.try :dms_no
    end

    g.column name: cmodel_class.human_attribute_name(:name), attribute: 'name', assoc: :commodity do |order_detail|
      order_detail.commodity.try :name
    end

    g.column name: model_class.human_attribute_name(:amount), attribute: 'amount'

    g.column name: model_class.human_attribute_name(:price), attribute: 'price' do |order_detail|
      number_with_precision(order_detail.price, precision: 2)
    end

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: OrderDetail::STATUS_NAME.invert do |order_detail| 
      order_detail.status_name
    end

    g.column name: model_class.human_attribute_name(:why_decline), attribute: 'why_decline'

    g.column name: model_class.human_attribute_name(:closed_at), attribute: 'closed_at' do |order_detail|
      order_detail.closed_at.blank? ? "" : order_detail.closed_at.localtime.to_s(:db)
    end

    g.column name: model_class.human_attribute_name(:at_unit_id), attribute: 'name', assoc: :at_unit do |order_detail|
      order_detail.at_unit.blank? ? "" : order_detail.at_unit.name
    end

    g.column do |order_detail|
      ActiveSupport::SafeBuffer.new << 
        (link_to t('.edit', :default => t("helpers.links.edit")), edit_order_detail_path(order_detail), :class => 'btn btn-xs btn-primary' if (can? :update, order_detail) && (order_detail.waiting? || order_detail.pending?)) << ' ' <<
          (link_to t('.destroy', :default => t("helpers.links.destroy")), order_detail_path(order_detail), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => '确定删除?')) }, :class => 'btn btn-xs btn-danger' if (can? :destroy, order_detail) && order_detail.waiting?) << ' ' << 
          (link_to t('.to_recheck', :default => t("helpers.links.to_recheck")),
            to_recheck_order_detail_path(order_detail), :method => :post, :onclick => "if(!confirm('确定通过吗？')){return false;}", :class => 'btn btn-xs btn-primary' if ((can? :to_recheck, order_detail) && ((order_detail.checking?) || (order_detail.declined?)))) << ' ' << 
          (link_to t('.check_decline', :default => t("helpers.links.check_decline")),
            check_decline_order_detail_path(order_detail), :method => :post, :onclick => "if(!confirm('确定驳回吗？')){return false;}", :class => 'btn btn-xs btn-primary' if ((can? :check_decline, order_detail) && ((order_detail.checking?) || (order_detail.declined?)))) << ' ' << 
          (link_to t('.place', :default => t("helpers.links.place")),
            place_order_detail_path(order_detail), :method => :post, :onclick => "if(!confirm('确定下单吗？')){return false;}", :class => 'btn btn-xs btn-primary' if ((can? :place, order_detail) && order_detail.rechecking?)) << ' ' << 
          (link_to t('.recheck_decline', :default => t("helpers.links.recheck_decline")),
            recheck_decline_order_detail_path(order_detail), :method => :post, :onclick => "if(!confirm('确定驳回吗？')){return false;}", :class => 'btn btn-xs btn-primary' if ((can? :recheck_decline, order_detail) && order_detail.rechecking?)) << ' ' << 
          (link_to t('.confirm', :default => t("helpers.links.confirm")),
            confirm_order_detail_path(order_detail), :method => :post, :onclick => "if(!confirm('确定收货吗？')){return false;}", :class => 'btn btn-xs btn-primary' if ((can? :confirm, order_detail) && order_detail.receiving?)) << ' ' << 
          (link_to t('.cancel', :default => t("helpers.links.cancel")),
                      cancel_order_detail_path(order_detail), :method => :post, :onclick => "if(!confirm('确定取消吗？')){return false;}", :class => 'btn btn-xs btn-primary' if ((can? :cancel, order_detail) && order_detail.pending?))
    end
  end 
%>