<%- model_class = Commodity -%>
<div class="page-header">
  <h1>商品选择</h1>
  <%= form_tag('', :method => "get", name: 'form1') do %>
  <div style="float:right">   
    <%= link_to t('完成'),
                    fresh_orders_url,
            :class => 'btn btn-primary' %>
  </div>
  <%= grid(@commodities, :show_filters => :always) do |g|
    g.column name: model_class.human_attribute_name(:cno), attribute: 'cno'

    g.column name: model_class.human_attribute_name(:dms_no), attribute: 'dms_no'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:supplier_id), attribute: 'name', assoc: :supplier do |commodity|
      commodity.supplier.try :name
    end

    g.column name: model_class.human_attribute_name(:cost_price), attribute: 'cost_price' do |commodity|
      number_with_precision(commodity.cost_price, precision: 2)
    end

    g.column name: model_class.human_attribute_name(:sell_price), attribute: 'sell_price' do |commodity|
      number_with_precision(commodity.sell_price, precision: 2)
    end

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'

    g.column in_csv: false do |commodity|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('选择'),
                      "/orders/#{@order.id}/order_details/new?order_id=#{@order.id}&commodity_id=#{commodity.id}", :class => 'btn btn-xs btn-primary')
    end
  end 
%>

<%end %>
</div>

