<%- model_class = Supplier -%>
<div class="page-header">
  <h1 face="微软雅黑" color='#D9B300' size=3>供应商合同</h1>
</div>
<dl class="dl-horizontal">
   <%= form_for @supplier, html: { multipart: true } do |f| %>
        <% @supplier.contracts.each do |x|%>
           <p><%= image_tag(x.url) %></p>
        <% end %>
   <% end %>
</dl>